/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/*for Headings*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nanum+Myeongjo&display=swap');
/*for all text other than Headings*/

/* setting variables for colors */
:root {
    --red-category: #D92534;
    /*non-veg*/
    --green-category: #babb49;
    /*veg*/
    --new-item: #5ABF56;
    --myBGColor: #f7f2e8;
    /* --myPrimaryColor: rgba(0,0,0,0.8); */
    --myPrimaryColor: rgb(68,62,63);
    /* --myPrimaryColor: #401801; */
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    font-size: 1rem;
    background-color: var(--myBGColor);
    color: var(--myPrimaryColor);
}
/*
.card-body:hover{
    font-size: 1rem;
}
.card-body:active{
    font-size: 1rem;
}*/

/* if user preference set to light mode */
/* Dark mode */
/*@media (prefers-color-scheme: dark) {

    body,
    h1.card-header,
    p.card-body,
    p.card-footer {
        color: var(--myBGColor);

    }

    body {
        background-color: var(--myPrimaryColor);
    }
}
*/

.LogoDisplay{
    max-width: 100%;
    max-height: 10vh;
}

#TopLogo{
    background: var(--myBGColor);
    /* max-width: 100%; */
    height: 10vh;
    background-repeat: no-repeat;
    position: relative;
    left: 30vw;
    transform: scale(.9);
}
.myNav::-webkit-scrollbar { /* width */
    height: 0rem;
  }
  
  
  .myNav::-webkit-scrollbar-track { /* Track */
    background: rgba(0,0,0,0.8);
    z-index: 2;
  }
  
  
  .myNav::-webkit-scrollbar-thumb { /* Handle */
    background: #e4d3ba;
    border-radius: 10px;
  }
  
  
  .myNav::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
  }


::-webkit-scrollbar {  /* width */
    width: 4px;
  }
  

  ::-webkit-scrollbar-track {  /* Track */
    background: #f1f1f1;
  }
  
  
  ::-webkit-scrollbar-thumb { /* Handle */
    background: var(--red-category);
    border-radius: 2px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
  }

.myNav{
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--green-category);
    /* padding: 10px; */
    overflow-x: auto;
    white-space: nowrap;
}

label[for="Salads"]{
    padding-left: 10px;
}

.card-header {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    background-color: rgba(68,62,63, 0.05);
    border: 0px;
}

.card {
    background-color: rgba(33,37,41,0.03) !important;
    letter-spacing: .5px;
    color: var(--myPrimaryColor) !important;
    border: 0px;
   /* backdrop-filter: blur(5px); */
}

.item-price {
    display: inline-block;
    position: absolute;
    right:15px;
    font-style: italic;
}

.card-footer {
    border: 0px;
    padding-bottom: 1.8rem;
    background-color: rgba(68,62,63, 0.03);
}

/*edit this block to edit the "NEW" logo*/
h1.item-new::after {
    display: inline-block;
    height: auto;
    width: auto;
    content: "NEW";
    color: white;
    font-size: 0.6rem;
    background-color: var(--new-item);
    padding: 3px;
}

/*adding the right border green highlight for new items*/
.item-new {
    border-right: 10px var(--new-item) solid;
}

.foodCategory-veg::after {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
    margin-left: 2px;
    margin-bottom: -3px;
    content: "";
    background: url(icons8-vegetarian-food-symbol-48.png) no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    right: 10px;
    top: 10px;
}

.foodCategory-non-veg::after {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
    margin-left: 2px;
    margin-bottom: -3px;
    content: "";
    background: url(icons8-non-vegetarian-food-symbol-48.png) no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    right: 10px;
    top: 10px;
}

.foodCategory-egg::after {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
    margin-left: 2px;
    margin-bottom: -3px;
    content: "";
    background: url(icons8-non-vegetarian-food-symbol-48.png) no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    right: 10px;
    top: 10px;
}

span.item-price::before {
    content: "₹ "
}

/* hidding radio buttons */
input {
    display: none;
}

/* show labels inline */
input+label {
    display: inline-block;
    /* border: var(--myBGColor) .1rem solid; */
    padding: .5rem .5rem .2rem .2rem;
    /* margin: 5px; */
    font-family: 'Arial';
    font-size: 1.2rem;
    font-weight: 600;
    color: #f1f1f1;

}

/* highlighting the selected label */
input:checked+label {
  /*background-color: var(--green-category);*/
  color: var(--myPrimaryColor);
  border-bottom: var(--myPrimaryColor) .2rem solid;
}

/* hidding content by default */
div.card[data-menu-category] {
    display: none;
}

/* showing content based on selection of menu */
    /* the :has pseudo-class isn't supported by firefox; so, find another method to implement this */
div:has(input[value="Mains"]:checked) ~ div.card[data-menu-category="Mains"],
div:has(input[value="Salads"]:checked) ~ div.card[data-menu-category="Salads"],
div:has(input[value="Salad Wraps"]:checked) ~ div.card[data-menu-category="Salad Wraps"],
div:has(input[value="Smoothies"]:checked) ~ div.card[data-menu-category="Smoothies"],
div:has(input[value="Sandwiches"]:checked) ~ div.card[data-menu-category="Sandwiches"],
div:has(input[value="Rice Bowls"]:checked) ~ div.card[data-menu-category="Rice Bowls"],
div:has(input[value="Parfait (Overnight Soaked Oats)"]:checked) ~ div.card[data-menu-category="Parfait (Overnight Soaked Oats)"],
div:has(input[value="Pastas"]:checked) ~ div.card[data-menu-category="Pastas"],
div:has(input[value="Mini Meals"]:checked) ~ div.card[data-menu-category="Mini Meals"],
div:has(input[value="Parathas"]:checked) ~ div.card[data-menu-category="Parathas"],
div:has(input[value="Cheat Day Meal"]:checked) ~ div.card[data-menu-category="Cheat Day Meal"],
div:has(input[value="Healthy Dosa With Bhurji"]:checked) ~ div.card[data-menu-category="Healthy Dosa With Bhurji"] {
    display: block;
}