/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/*for Headings*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nanum+Myeongjo&display=swap');
/*for all text other than Headings*/

/* setting variables for colors */
:root {
    --red-category: #D92534; /*non-veg*/
    --green-category: #babb49; /*veg*/
    --new-item: #5ABF56;
    --myBGColor: #e4d3ba;
    --myPrimaryColor: rgba(0,0,0,0.8);
    /* --myPrimaryColor: #401801; */
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    font-size: 1rem;
    background-color: var(--myBGColor);
    color: var(--myPrimaryColor);
}
/* --------------- changing font size of body on hover -------------------------*/
/* .card-body:hover{
    font-size: 1rem;
}
.card-body:active{
    font-size: 1rem;
}  */


/* --------------------------- dark or light theme auto respect --------------------------- */
/* if user preference set to light mode */
/* Dark mode */
/*@media (prefers-color-scheme: dark) {

    body,
    h1.card-header,
    p.card-body,
    p.card-footer {
        color: var(--myBGColor);

    }

    body {
        background-color: var(--myPrimaryColor);
    }
}
*/

.LogoDisplay{
    max-width: 100%;
    max-height: 10vh;
}

#TopLogo{
    background: var(--myBGColor);
    /* max-width: 100%; */
    height: 10vh;
    background-repeat: no-repeat;
    position: relative;
    left: 30vw;
    transform: scale(.9);
}

/* #region navScrollBar */
.myNav::-webkit-scrollbar { /* width */
    height: 0rem;
}
.myNav::-webkit-scrollbar-track { /* Track */
    background: rgba(0,0,0,0.8);
    z-index: 2;
}  
.myNav::-webkit-scrollbar-thumb { /* Handle */
    background: #e4d3ba;
    border-radius: 10px;
} 
.myNav::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
}
/* #endregion navScrollBar */

div.myNav{
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--green-category);
    /* padding: 10px; */
    overflow-x: auto;
    white-space: nowrap;
    height: 1.8rem;
    text-align: center;
}

div.section-menuItems{
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    outline: 5px solid red;
}

/* IDEA: try setting this as a block element */
a{
    align-self: center;
    padding-right: .5rem;
    /* margin: 5px; */
    font-family: 'Arial';
    font-size: 1.2rem;
    font-weight: 600;
    color: #f1f1f1;
    text-decoration-line: none;
}

/* highlighting the selected label */
a:hover{
  /*background-color: var(--green-category);*/
  color: rgba(0,0,0,0.2);
  border-bottom: var(--myPrimaryColor) .2z  rem solid;
}

a:active, a:visited{
  /*background-color: var(--green-category);*/
  color: var(--myPrimaryColor);
  border-bottom: var(--myPrimaryColor) .2rem solid;
}

a[id="Salads"]{
    padding-left: 10px;
}

.card {
    background-color: rgba(255, 255, 255, 0.30);
    letter-spacing: .5px;

   /* backdrop-filter: blur(5px); */
}

.card-header {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}

.card-body{
    border: 5px solid blue;

}

.card-footer {
    padding-bottom: 0.8rem;
    margin-bottom: 1.2rem;
    background-color: rgba(255,255,255,0);
}

.item-price {
    display: inline-block;
    position: absolute;
    right:15px;
    font-style: italic;
}
span.item-price::before {
    content: "₹ "
}

/* ------------------ edit this block to edit the "NEW" logo ------------- */
/* #region newItem */
h1.item-new::after {
    display: inline-block;
    height: auto;
    width: auto;
    content: "NEW";
    color: white;
    font-size: 0.6rem;
    background-color: var(--new-item);
    padding: 3px;
}

/*adding the right border green highlight for new items*/
.item-new {
    border-right: 10px var(--new-item) solid;
}
/* #endregion newItem */

/* #region foodCategoryIcons */
h1.foodCategory-veg::after {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
    margin-left: 2px;
    margin-bottom: -3px;
    content: "";
    background: url(icons8-vegetarian-food-symbol-48.png) no-repeat 0 0;
    background-size: 100%;
    position: relative;
    right: 10px;
    top: 10px;
}

h1.foodCategory-non-veg::after {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
    margin-left: 2px;
    margin-bottom: -3px;
    content: "";
    background: url(icons8-non-vegetarian-food-symbol-48.png) no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    right: 10px;
    top: 10px;
}

h1.foodCategory-egg::after {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
    margin-left: 2px;
    margin-bottom: -3px;
    content: "";
    background: url(icons8-non-vegetarian-food-symbol-48.png) no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    right: 10px;
    top: 10px;
}
/* #endregion foodCategoryIcons */

/* #region rightScrollBar */
::-webkit-scrollbar {  /* width */
    width: 4px;
  }
  

  ::-webkit-scrollbar-track {  /* Track */
    background: #f1f1f1;
  }
  
  
  ::-webkit-scrollbar-thumb { /* Handle */
    background: var(--red-category);
    border-radius: 2px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
  }
/* #endregion rightScrollBar */