body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    background-attachment: fixed;
}

/* if user preference set to light mode */
/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        margin-top: 1rem;
        color: black;
        background-image: url("https://images.unsplash.com/photo-1693491011599-6b912b529db8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
    }
}

/* if user preference set to light mode */
/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
        background-image: url("https://images.unsplash.com/photo-1617884638394-d9eef1b0f40e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
    }
}
.card {
    background-color: rgba(255,255,255,0.30);
    backdrop-filter: blur(10px);
}
.item-price{
    display: inline-block;
    width: 90%;
}
.category{
    display: inline-block;
}